<h1 class='text-center'>My List</h1>
<div class='container'>
  <div class="alert alert-success" role="alert">
    Our blog has <%= Article.public_count %> articles and counting!
  </div>
  <ul class="list-group">
    <% @articles.each do |article|%>
      <% unless article.archived? %>
        <li class="list-group-item">
          <%= link_to article.title, article %>
        </li>
      <% end %>
    <% end %>
  </ul>
  <%= link_to 'Create new article', new_article_path, class:"btn btn-success mt-3" %>
</div>
