<h1 class='text-center'>Hello, Rails</h1>
<ul class="container list-group">
  <% @articles.each do |article|%>
    <li class="list-group-item"><a href='<%= article_path(article)%>'><%= article.body %></a></li>
  <% end %>
</ul>
