<h1 class='text-center'>Hello, Rails</h1>
<div class='container'>
  <ul class="list-group">
    <% @articles.each do |article|%>
      <li class="list-group-item">
        <%= link_to article.body, article %>
      </li>
    <% end %>
  </ul>
  <%= link_to 'Create new article', new_article_path, class:"btn btn-success mt-3" %>
</div>
