<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="<%= root_path%>">
      <svg t="1691481832918" class="icon" viewBox="0 0 1024 1024" version="1.1" xmlns="http://www.w3.org/2000/svg" p-id="1167" width="30" height="30"><path d="M676.88 927.46a2075.91 2075.91 0 0 1-330.62 0 277.6 277.6 0 0 1-254.6-254.6 2075.91 2075.91 0 0 1 0-330.62 277.6 277.6 0 0 1 254.6-254.6 2075.91 2075.91 0 0 1 330.62 0 277.6 277.6 0 0 1 254.6 254.6 2075.91 2075.91 0 0 1 0 330.62 277.6 277.6 0 0 1-254.6 254.6z" fill="#D156EF" p-id="1168"></path><path d="M673.06 797.5H355.68A102.5 102.5 0 0 1 253.3 695.12V318.88A102.5 102.5 0 0 1 355.68 216.5h317.38a102.5 102.5 0 0 1 102.38 102.38v376.24A102.5 102.5 0 0 1 673.06 797.5z m-317.38-546a67.45 67.45 0 0 0-67.38 67.38v376.24a67.45 67.45 0 0 0 67.38 67.38h317.38a67.45 67.45 0 0 0 67.38-67.38V318.88a67.45 67.45 0 0 0-67.38-67.38z" fill="#FFFFFF" p-id="1169"></path><path d="M316.19 401.87h-91a17.5 17.5 0 1 1 0-35h91a17.5 17.5 0 0 1 0 35zM636.58 401.79H414.34a17.5 17.5 0 0 1 0-35h222.24a17.5 17.5 0 0 1 0 35zM636.58 523.5H414.34a17.5 17.5 0 1 1 0-35h222.24a17.5 17.5 0 0 1 0 35zM636.58 645.22H414.34a17.5 17.5 0 1 1 0-35h222.24a17.5 17.5 0 1 1 0 35zM316.19 645.13h-91a17.5 17.5 0 1 1 0-35h91a17.5 17.5 0 0 1 0 35z" fill="#FFFFFF" p-id="1170"></path></svg>
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="<%= root_path%>">Home</a>
        <a class="nav-link" href="#">Articles</a>
        <a class="nav-link" href="#">About</a>
        <a class="nav-link disabled">Disabled</a>
      </div>
    </div>
  </div>
</nav>
